body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2c2c2c; /* Koyu arka plan */
    color: #ffffff; /* Beyaz metin rengi */
}

.game-container {
    margin: 20px auto;
    width: 100%; /* Genişliği %80 yaparak genişlemesini sağla */
    max-width: 1500px; /* İstersen maksimum genişlik de ekleyebilirsin */
}


#map {
    height: 600px; /* Yüksekliği 600px yap */
    width: 100%; /* Genişliği %100 yap */
    max-width: 1000px; /* Maksimum genişliği 1000px olarak ayarla */
    margin: 20px auto; /* Üstten 20px boşluk bırak ve ortala */
}





.info {
    margin: 15px 0;
}

#city-input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Oyun bölümü için özel stil */
.guess-section {
    margin-top: 15px;
}

#restart-btn {
    display: none; /* Başlangıçta görünmez */
    margin-top: 15px;
}
